@page "/admin/languageoptions"
@using LanTutV2.Components
@using LanTutor.Data.Models
@inject ILanTutorAPI api
<h3>LanguageOptions</h3>

<EditForm OnValidSubmit="Save" Model="Item">
    <DataAnnotationsValidator />
    <CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />
    <InputText @bind-Value="@Item.Name" />
    <ValidationMessage For="@(()=>Item.Name)" />
    <button class="btn btn-success" type="submit">Save</button>
</EditForm>
<ItemList Items="Items" DeleteEvent="@Delete" SelectEvent="@Select" ItemType="LanguageOptions">
    <ItemTemplate>
        @{
            var item = context as LanguageOptions;
            if(item!=null)
            {
            @item.Name;
            }
        }
    </ItemTemplate>
</ItemList>

@code {
    private List<LanguageOptions> Items { get; set; } = new List<LanguageOptions>();
    public LanguageOptions Item { get; set; } = new LanguageOptions();

    protected async override Task OnInitializedAsync()
    {

        Items = await api.GetLanguageOptionsAsync();
        await base.OnInitializedAsync();
    }

    private async Task Delete(LanguageOptions language)
    {
        try
        {
            await api.DeleteLanguageOptionsAsync(language);
            Items.Remove(language);
        }
        catch { }
    }

    private async Task Save()
    {
        try
        {
            if (Item.ID == 0)
            {
                Items.Add(Item);
            }
            await api.SaveLanguageOptionAsync(Item);
            Item = new LanguageOptions();
        }
        catch { }
    }

    private Task Select(LanguageOptions language)
    {
        try
        {
            Item = language;
        }
        catch { }
        return Task.CompletedTask;
    }
}